<div class="content">
    <div class="section">

        <!-- <div class="container">
            <div class="row">
                <div class="col"> -->
                    <div id="slider">
                        <div id="left_panel" >  </div>
                        <div id="right_panel">
                            <div id="drag"></div>
                        </div>
                </div>
                <!-- </div>
               
            </div>
         
                   
              
        </div> -->
        
           
        
        
        </div>
        
</div>


