<div class="content">
  <div class="section" *ngIf="!team">

    <!-- Start Grid -->
    <div class="container"> 
      
      <!-- Main Row -->
      <div class="row">
        <div class="col">
  
  
  
  
          <!---ABOUT DIV--->
  
          <div class="about" wmAnimate="fadeInUp" speed="normal" aos> 
           
              <h1>about</h1>
  
              <div class="abouttext">
                We incorporate a <u>client-driven philosophy</u> <br />
                and implement the latest technologies to deliver<br />
                <u>innovative, responsive, and cost-effective solutions.</u>
              </div>
              
              <div class="row">
  
                <div class="col-sm"></div>
  
                <div class="col-sm">
                  <div class="teambutton"><button (click) = "goTeam()">THE TEAM</button></div>
                </div>
  
                <div class="col-sm"></div>
  
              </div>
  
          </div>
  
          <!---END ABOUT DIV--->
  
  
  
  
  
  
  
  
        </div>
      </div>
      <!-- Main Row -->
  
    </div>
    <!-- End Grid -->
  
  </div>
</div>




<div class="team" *ngIf="team" wmAnimate="fadeInUp" speed="normal">
  

  <div class="row">
      <div class="col-sm-1 col-md-0 col-lg-0 col-xl-2"> 
     
        </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1">
        <h1>meet the team</h1>
      <div class="aboutbutton" *ngIf="team"><button (click) = "goAbout()">ABOUT</button></div>
   
        
      
      
    
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-8 box">
    
        <app-team></app-team>
    
    </div>
    <div class="col-sm-0 col-md-1 col-lg-0 col-xl-1"> 
     
    </div>



    
  </div>


 
  

  
</div>

