@import 'src/styles.scss';

@mixin fade() {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


.content{
    @include xs{
       
    }

    @include sm{
        
    }

    @include md{
       
       
    }


    @include lg{
       padding-top: 0px;
    }
    

    @include xl{
        padding-top: 100px;
     }
}

.team{
    width: 90vw;
    margin: 0 auto;
  
    
   
    
    @include xs{
        height: 100vh;
    }

    @include sm{
        min-height: auto;
        max-height: 576px;
    }

    @include md{
        min-height: 25vh;
        max-height: 50vh;

        @media only screen and (orientation: landscape) {
            min-height: 25vh;
            max-height: 100vh;
       }
       
    }


    @include lg{
        min-height: 768px;
        max-height: 768px;
    }

  
    h1{
        
        @include xs{
            width: 100%;
            height: 70px;
            font-size: 25px;
            letter-spacing: 5px;
            color: #777777;
            margin-top: 0px;   
            margin-bottom: 0px;
            text-align: center;
        }

        @include sm{
            width: 100%;
            height: auto;
            font-size: 25px;
            letter-spacing: 5px;
            color: #777777;
            margin-top: 0px;   
            margin-bottom: 0px;
            text-align: center;
            line-height: 30px;;
        }
       

        @include lg{
            width: 100%;
           
            font-size: 40px;
            letter-spacing: 5px;
            color: #000000;
            margin-top: 30px;   
            margin-bottom: 0px;
            text-align: center;
            line-height: 45px;
        }
    }
    
    
    .aboutbutton{
        position: relative;
    
        text-align: center; 
        justify-content: center;
       
        z-index: 100;

        @include xs{
        
           margin: 10px ;
        }
    
        @include xl{
            
            margin-left: 0;
            margin-top: 0%;
        }


        button{
            background-color: white;
            border: 1px solid #707070;
            width: 100%;
            height: 30px;
            border-radius: 50px;
            cursor: pointer;
            font-size: 16px;
            text-transform: uppercase;
            font-family: "Roboto Slab";
            margin-right: 0px;
            @include fade();
        }
                    
        button:hover{
            background-color: #FF8000;
            color: white;
            border: none;
            font-size: 15px;
            opacity: 1;
            @include fade();
        }            
    }
}

.section{
    background-color: transparent;
    position: relative;

  
    
    color: black;
   
    width: 100%;
    //margin-bottom: 0px;

   
    @include xs{
        height: 700px;
        
     }
 
     @include sm{
         height: 100vh;
         min-height: auto;
         max-height: 576px;
        
     }

    @include md{
        min-height: 25vh;
        max-height: 50vh;

        @media only screen and (orientation: landscape) {
            min-height: 25vh;
            max-height: 100vh;
       }
       
    }


    @include lg{
        min-height: 768px;
        max-height: 768px;
        
    }

    .about{    
        width: 100%;
       

        
        @include xs{
            height: 100vh;
        }

        @include sm{
            min-height: auto;
            max-height: 576px;
        }

        @include md{
            min-height: 25vh;
            max-height: 50vh;

            @media only screen and (orientation: landscape) {
                min-height: 25vh;
                max-height: 100vh;
        }
        
        }


        @include lg{
            min-height: 768px;
            max-height: 768px;
        }
        
        h1{
            @include xs{
                width: 100%;
                height: 130px;
                font-size: 25px;
                letter-spacing: 5px;
                color: #777777;
                margin-top: 0px;   
                margin-bottom: 70px;
                text-align: center;
            }

            @include sm{
                width: 100%;
                height: 120px;
                font-size: 35px;
                letter-spacing: 10px;
                color: #777777;
                margin-top: 50px; 
                text-align: left;  
            }
            
               

            @include md{  
                width: 100%;
                height: 160px; 
                font-size: 7vw;
                letter-spacing: 35px;
                color: black;
                margin-top: 150px; 
                text-align: left;
                margin-bottom: 0px;

                @media only screen and (orientation: landscape) {
                    margin-top: 50px; 
                   }
            }    

            @include lg{  
                width: 100%;
                height: 160px; 
                font-size: 7vw;
                letter-spacing: 35px;
                color: black;
                margin-top: 250px; 
                text-align: left;
                margin-bottom: 0px;
            }  


            @include xl{  
               
               
                margin-top: 200px; 
               
            }  
        }
        
        .abouttext{  
            letter-spacing: 1px;  
            font-weight: 300;
            line-height: 40px;

            margin-top: 30%;

            @include xs{       
                width: 90%;
                font-size: 25px;
            }

            @include sm{       
                width: 100%;
                font-size: 16px;
                margin-top: -50px;
            }
  
            @include md{        
                width: 100%;
                font-size: 1.75vw;
                margin-top: -50px;

               
            } 

            @include lg{        
                width: 100%;
                font-size: 1.75vw;
                margin-top: 0px;
                line-height: 3vw;
            } 
        }

        .teambutton{
            position: relative;
            text-align: center; 
            margin-top: 25px;
    
            button{
                background-color: white;
                border: 1px solid #707070;
                width: 275px;
                height: 60px;
                border-radius: 50px;
                cursor: pointer;
                font-size: 16px;
                text-transform: uppercase;
                font-family: "Roboto Slab";
                margin-right: 20px;
                @include fade();
            }
                        
            button:hover{
                background-color: #FF8000;
                color: white;
                border: none;
                font-size: 15px;
                opacity: 1;
                @include fade();
            }            
        }
    }
}