<div class="section">

  <!-- Hero Gradient -->     
  <div class="gradient"></div> 
  <!-- Hero Gradient -->

  <!-- Start Grid -->
  <div class="container-fluid">

      <!-- Navigation Row -->   
      <div class="row"> 
        <div class="col col-md-1 col-lg-1 col-xl-1">
        </div>               
          
        
        <div class="col col-md-1 col-lg-1 col-xl-1">
            <div class="logotext"></div>
          </div>
           
          <div class="col col-md-10 col-lg-10 col-xl-10"></div>   
         
      </div>
      <!-- Navigation Row -->   

      <!-- Main Row -->   
      <div class="row">           
          

          <!-- Typewriter Column -->   
          
          <div class="col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>

          <div class="col-sm-5 col-md-5 col-lg-3 col-xl-3 typewritercol"> 
              <div class="row">
                  <div class="col">
                      <div class="typewriter">
                          <app-typewriter></app-typewriter>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Typewriter Column -->   
     
          <!-- Phone Column -->     
          <div class="col-sm-5 col-md-5 col-lg-4 col-xl-4 phonecol">
              <div class="phone" wmAnimate="fadeInLeft" speed="normal"></div>
          </div>
          <!-- Phone Column -->     

          <div class="col-sm-1 col-md-1 col-lg-2 col-xl-2"></div>
      </div>
      <!-- Main Row -->  

  </div>
  <!-- End Grid -->

</div>


