@import 'src/styles.scss';

.section{
    background-image:  url('src/images/heropage/blank.png');
    background-size: cover;
    background-repeat: no-repeat;

   
    color: white;
    width: 100vw;



    @include xs{
       
        height: 700px;
        
    }

    @include sm{
        height: 100vh;
        min-height: auto;
        max-height: 576px;
        width: 100%;
    }

    @include md{
        min-height: 25vh;
        max-height: 50vh;

        @media only screen and (orientation: landscape) {
            min-height: 25vh;
            max-height: 100vh;
       }
       
    }


    @include lg{
        min-height: 768px;
        max-height: 768px;
    }


     .gradient{
         position: absolute;
         width: 100%;
         z-index: 0;
         height: 100vh;
         @include xs{
            
             height: 700px;
             background-image: linear-gradient(to bottom, rgba(255, 128, 0, 0.2), rgba(255, 128, 0, 0.44) 37%, rgba(255, 128, 0, 0.81) 66%, #FF8000);
         }

         @include sm{
             min-height: auto;
             max-height: 576px;
             background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.44) 37%, rgba(255, 255, 255, 0.81) 66%, rgb(255, 255, 255));
         }

         @include md{
             min-height: 25vh;
             max-height: 50vh;
    
             @media only screen and (orientation: landscape) {
                 min-height: 25vh;
                 max-height: 100vh;
            }
             background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.44) 37%, rgba(255, 255, 255, 0.81) 66%, rgb(255, 255, 255));
         }

        
        

         @include lg{
             min-height: 768px;
         max-height: 768px;
             background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.44) 37%, rgba(255, 255, 255, 0.81) 66%, rgb(255, 255, 255));
         }
     }

     .logotext{
         width: 200px;
         height: 50px;
         background-image:  url('src/images/heropage/fulllogo.png');
         background-repeat: no-repeat;
       

         @include xs{
             background-size: 130px;
             margin-left: 70px;
             margin-top: 30px;
         }

         @include sm{
             background-size: 130px;
             margin-left: 0px;
             margin-top: 30px;
         }

         @include md{
             background-size: 160px;
             margin-left: 20px;
             margin-top: 30px;
         }

         @include xl{
             background-size: 200px;
             margin-top: 30px;
             margin-left: -30px;
         }
     }
    
     .typewritercol{
         height: 100vh;
     }

     .typewriter{
        
        
         height: 200px;
         position: relative;

         @include xs{
             margin-top: 90%;
             width: 65vw;
         }

         @include sm{
             margin-top: 50%;
             width: 35vw;
         }

         @include md{
             margin-top: 50%;

             @media only screen and (orientation: landscape) {
                 margin-top: 30%;
            }
         }

         @include lg{
             margin-top: 70%;
         }

       
     }
    
    

     .phone{
         background-image:  url('src/images/heropage/iphone.png');
         background-repeat: no-repeat;
        
         z-index: 100000000;
         position: relative;
         background-color: transparent;
        
    
       

         @include xs{
             background-size: 500px;
             background-position: -35px -45px;
          
             display: none;
         }

         @include sm{
             background-size: auto 400px;
             background-position: 0px -20px;
             margin-left: 50px; 
             display: block;
             height: 400px;
             margin-top: -50px;
         }

         @include md{
             background-size: auto 50vh;
             background-position: 0px 0px;
             margin-top: -25%;
             display: block;
             margin-left: 40px; 
             height: 50vh;

             @media only screen and (orientation: landscape) {
                 background-size: auto 375px;
                 background-position: 0px -20px;
                 margin-left: 50px; 
                 display: block;
                 height: 375px;
                 margin-top: -50px;
            }
         }


        
        

         @include lg{
         
             background-size: 28vw auto;
             margin-top: -60px;
             background-position: 0px 0px;
             width: 28vw;
             height: 52vw;
             display: block;
             margin-left: 0px; 
            
         }
     }
}