@import 'src/styles.scss'; 
.content{
    @include xs{
       
    }

    @include sm{
        
    }

    @include md{
       
       
    }


    @include lg{
       padding-top: 0px;
    }
    

    @include xl{
        padding-top: 100px;
     }
}

.section{
    width: 100%;
  
    
    background-color:  #FF8000;
  
    color: white;


    @include xs{
        
        height: 700px;
        
     }
 
     @include sm{
         height: 100vh;
         min-height: auto;
         max-height: 576px;
        
     }
 
    @include md{  
        min-height: 25vh;
        max-height: 50vh;

         @media only screen and (orientation: landscape) {
            min-height: 375px;
            max-height: 100vh;
        }
    }

    @include lg{
        min-height: 768px;
        max-height: 768px;
    }
    

    .msg{
        background-color:  #FF8000;
    }

    .sentmessage{
        @include fontcolor($accent); 
        @include font-face("Roboto Slab", "serif", 300, 50px, 50px);
        @include textposition(350px, 320px);
    }


    .message{


        
     
        @include xs{
            min-height: 375px;
            height: 100%;   
           
        }
     
 
        @include md{  
            min-height: 25vh;
            max-height: 50vh;

         @media only screen and (orientation: landscape) {
            min-height: 375px;
            max-height: 100vh;
            }
         
        }

        @include lg{
            min-height: 768px;
            max-height: 768px;
   
        }

        background-color:  #FF8000;


        .emailrow{
            margin-top: 0px;

            @include xl{
                margin-top: 20px;
       
            }
            
        }

       label{
           display: inline-block;
       }

        input{
            background: transparent;
            border: none;
            
            width: 30vw;
            margin-left: 20px;
            
            letter-spacing: 3px;
            @include fontcolor($accent); 
            @include font-face("Roboto Slab", "serif", 300, 15px, 20px);
        }

        input::placeholder{ 
            @include fontcolor($accent); 
            opacity: 0.5;
            letter-spacing: 3px;
            @include font-face("Roboto Slab", "serif", 300, 15px, 20px);
        }

        .contactmessage{
            width: 100%;
          
            textarea{
                width: 100%;
              
                background-color: transparent;
                @include font-face("Roboto Slab", "serif", 400, 50px, 90px);
                @include fontcolor($accent); 
                letter-spacing: 15px;
                border: none;
                padding-top: 60px;

                @include xs{
                    @include font-face("Roboto Slab", "serif", 400, 5vw, 9vw);
                    height: 426px;
                    
                    
                }

                @include sm{
                    @include font-face("Roboto Slab", "serif", 400, 2.5vw, 3vw);
                    height: 150px;
                   
                    padding-top: 20px;
                    
                    
                }
                
            
                @include md{  
                    @include font-face("Roboto Slab", "serif", 400, 3vw, 5vw);
                    height: 100%;
                    padding-top: 20px;
                    min-height: 200px;
                    

                    @media only screen and (orientation: landscape) {
                        height: 130px;
                        min-height: auto;
                        padding-top: 0px;
                    
                        
                    }
                   
                }

                @include lg{  
                    @include font-face("Roboto Slab", "serif", 400, 50px, 90px);
                    height: 400px;
                
                   
                }

                @include xl{
                    @include font-face("Roboto Slab", "serif", 400, 50px, 90px);
                    height: 450px;
                }

            }
            textarea::placeholder{
                
                @include fontcolor($accent); 
                white-space:pre-line;                   
               
                opacity: 0.5;



                
            }
        
        }

        .contactus{
            h1{

                text-align: center;
                width: 100%;
                position: relative;
                font-size: 6vw;
                letter-spacing: 2vw;
                height: 100px;
            }
    }

   .contactform{
        

       height: 500px;
       width: 100%;

    //    padding: 50px 0 0 0px;
   }

    .info{
         width: 100%;
         height: 768px;
         background-color: white;
         color: black;

         @include xs{
             padding-top: 100px;
         }
    
         @include xl{  
             padding-top: 0px;
         }

         .contactinfo{
            width: 100%;
             border: 1px solid black;

             .map{
                 width: 352px;
                 height: 263px;
                 background-color: black; 
                 position: absolute;
               
            }
         }

       
    }

   .submitbutton{
       
        button{
            background-color: transparent;
            border: 1px solid #ffffff;
            width: 100%;
            height: 60px;
            border-radius: 50px;
            cursor: pointer;
            font-size: 16px;
            text-transform: uppercase;
            font-family: "Roboto Slab";
            color: white;

         
            @include sm{
               
                
                @media only screen and (orientation: landscape) {
                    height: 30px;
               }
                
            }
            
        
            @include lg{  
                height: 60px;
               
            }
           
        }

        button::disabled{
            opacity: 0.5;
        }
    }
}


}