

<div class="content">
    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-sm-12 col-xl-12 column msg">
                    <div class="message" *ngIf="!isSent">
    
                        <div class="row">
                            <div class="col-sm column">
                                <div class="contactus"><h1>contact</h1></div>
                            </div>
                        </div>
    
    
                        <form [formGroup]="contactForm" (ngSubmit)="messageUs(contactForm.value)">
            
    
                        <div class="row emailrow">
                            <div class="col-sm column">
                                <label>EMAIL: </label><input id="email" required formControlName="email" type="email" class="holder" placeholder="youremail@example.com"/><br />
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm column">
                                <label>NAME: </label> <input id="name" required formControlName="name" type="text" class="holder" placeholder="your name"/>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-sm column">
                                <div class="contactmessage"><textarea id="message" required formControlName="message"  placeholder="Write us a message here!"></textarea></div>
                            </div>
                        </div>
                  
                        <div class="row">
                            <div class="col-sm column">
                                <div class="submitbutton"> <button class="stuff" type="submit" [disabled]="!contactForm.valid">SUBMIT</button></div>
                            </div>
                        </div>
    
                        </form>
    
                    </div>
    
                    <div class="sentmessage" *ngIf="isSent">
                            {{resultMessage}}
                    </div>
                </div>
    
       
                
            </div>
    
            <!-- <div class="row">
             <div class=" info" >
                    <div>contact info</div>
    
    
                    <div class="contactinfo">
                        <h4>
                            
                                <div class="phone"></div><p>(512) 842-7569</p>
                                <div class="email"></div> <p>info@caprockapps.com</p>
                                <div class="address"></div><p>5280 34th ST <br />
                        Lubbock, TX 79407<br />
                        Hours: Monday-Friday 8-5</p>
                       
                    
                    
                        </h4>
    
                        <div class="map"><app-maps></app-maps></div>
                
                       
                    </div>
                   
                </div> 
            </div> -->
        </div>
    </div>
    
</div>