@import 'src/styles.scss';

.content{
    @include xs{
       
    }

    @include sm{
        
    }

    @include md{
       
       
    }


    @include lg{
       padding-top: 0px;
    }
    

    @include xl{
        padding-top: 100px;
     }
}


.xl{
    @include xs{
        display: none;  
     }

     
 
     @include md{  
         display: block;

         @media only screen and (orientation: landscape) {
            display: none;
        }
     } 

     @include lg{  
        display: block;

       
    } 
}

.xs{
    
    @include xs{
        display: block;  
     }
     
 
     @include md{  
         display: none;

         @media only screen and (orientation: landscape) {
            display: block;
        }
     } 

     @include lg{  
        display: none;

       
    } 
}


.section{
    width: 100%;
 
    
    background-color: rgb(255, 255, 255);

    @include xs{
       height: 700px;
       
    }

    @include sm{
        height: 100vh;
        min-height: auto;
        max-height: 576px;
       
    }

    @include md{
        min-height: 25vh;
        max-height: 50vh;

        @media only screen and (orientation: landscape) {
            min-height: 25vh;
            max-height: 100vh;
       }
       
    }


    @include lg{
        min-height: 768px;
        max-height: 768px;
    }
    
    .carousel{
        width: 90vw;
        margin: 0 auto;


        @include xs{
            height: 100vh;
            min-height: 668px;
        }

        @include sm{
            min-height: auto;
            max-height: 576px;

            
        }

        @include md{
            min-height: 25vh;
           max-height: 50vh;
    
           @media only screen and (orientation: landscape) {
            min-height: 25vh;
            max-height: 100vh;
           }
           
        }

        @include lg{
            min-height: 768px;
            max-height: 768px;
        }
    }


    h1{

        text-align: center;
        width: 100%;
        position: absolute;
        font-size: 6vw;
        letter-spacing: 2vw;
        height: 100px;
    }

    .box{
        
       
        text-align: center; 
        

        @include xs{
            font-size: 4.5vw;
            line-height: 6.5vw;
        }

        @include sm{
            font-size: 1.2vw;
            line-height: 1.5vw;

            @media only screen and (orientation: landscape) {
                font-size: 1.8vw;
                line-height: 2.2vw;
                // margin-bottom: 25px;
               }
        }

        @include lg{
            font-size: 1.5vw;
            line-height: 2vw;
        }

        @include xl{
            font-size: 0.9vw;
            line-height: 1.5vw;
        }
       
        .card{
            padding-top: 10px;
            height: auto;
            margin-top: 100px;
           
       
            
            @include xs{
               
                    height: 576px;
            }

            @include sm{
               
                height: 35vh;
                margin-bottom: 0;

                @media only screen and (orientation: landscape) {
                    min-height: 60vh;
                    max-height: 100vh;
                    // margin-bottom: 25px;
                   }
            }

            @include lg{
               padding: 20px;
                height: 70vh;
                max-height: 600px;
                margin-top: 150px;
            }

            @include xl{
                padding: 20px;
                 height: 550px;
                 max-height: 550px;
                 margin-top: 150px;
             }
            
        }
       
        
        // line-height: 18px;

       .card-title{


        @include xs{
            font-size: 4vw;
            line-height: 4.5vw;
        }

        @include sm{
            font-size: 1.5vw;
            line-height: 2vw;
        }
       }

        .list-group-item{
            font-size: .8vw;
            line-height: 1vw;

            @include xs{
                font-size: 3vw;
                line-height: 4vw;
            }

            @include sm{
                font-size: 1vw;
                line-height: 1.5vw;

                @media only screen and (orientation: landscape) {
                    font-size: 1.8vw;
                    line-height: 2vw;
                    // margin-bottom: 25px;
                   }
            }
            @include lg{
                font-size: 1vw;
                line-height: 1.5vw;
            }

            @include xl{
                font-size: 0.7vw;
                line-height: 1vw;
            }
        }


        // @include xs{
        //     margin-top: 10px;   
        //     line-height: 18px; 
        // }
         
        // @include lg{  
        //     margin-top: 10px;
        //     line-height: 22px;
            
        //  }
     
        // @include xl{  
        //     margin-top: 50px;
        //     line-height: 24px;
        //  }
        
    }
   

    

     .cost{
        
        color: #FF5200;
        padding: 5%;
        margin-bottom: 10px;
        font-size: 2.5vw;
        line-height: 3vw;

        
        
        @include xs{
            font-size: 12vw;
            line-height: 15vw;
         }
        
    
        @include sm{  
            padding: 1%;
            font-size: 2.5vw;
            line-height: 3vw;


            @media only screen and (orientation: landscape) {
                font-size: 3vw;
                line-height: 3vw;
                // margin-bottom: 25px;
            
        }

        @include lg{  
            padding: 1%;
            font-size: 2.5vw;
            line-height: 3vw;

            
        }
            
        }
    }
    


    .call{

        margin: -49px auto;

        @include sm{  
        


            margin: 0px auto;
            
        }
        
        @include lg{
            margin: -49px auto;
        }
       
        @include xl{
            margin: 0px auto;
        }
        
      
       
        .btn{
            border-top-right-radius: 0%;
            border-top-left-radius: 0%;
        }

        .contactbutton{
           
        
          color: white;
                background-color: rgb(255, 137, 19);
              
        }

        .contactbutton:hover{
            background-color: rgb(255, 183, 111);
        }
       
    }

   
     
     
    
}