<div class="content xl">
  <div class="section">
    <h1>packages</h1>
    
    
    <div class="container">
      <div class="row">
        <div class="col-4 box">
       
        <div class="card">
          <h5 class="card-title">Basic Package</h5>
          <div class="row">
            <div class="col">
              <div class="cost">$1499.99</div>
              <div class="hours"><b>10 hours</b></div>
              <p class="card-text">This package is for the clients who may need help with a current software project or for the client who wants to see how we can get started on your software idea! </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> Feasability Research<br />
                  <small>Is your project possible?</small></li>
                <li class="list-group-item">Software Consulting<br />-</li>
                <li class="list-group-item">-</li>
              </ul>
            </div>
          </div>
        
        </div>
        </div>
    
    <div class="col-4 box">
    
        <div class="card">
          <h5 class="card-title">Premium Package</h5>
          <div class="cost">$2999.99</div>
          <div class="hours"><b>20 hours</b></div>
                  <p class="card-text">This package allows us to take a deep dive into your project. We will set up meetings to get an understanding of your application idea and collaboratively design the app page by page! </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Software Blueprints<br /> 
              <small>Allow you to 'shop around' to different software companies.</small>
    </li>
            <li class="list-group-item"> Design of the Application<br />
              <small>5 screens</small></li>
            <li class="list-group-item">Software Documentation<br />
              <small>Helps explain your idea from a software developer's point of view!</small>
          </li>
          </ul>
    
          
        </div>
      </div>
    
      <div class="col-4 box">
    
        <div class="card">
          <h5 class="card-title">Ultimate Package</h5>
         <div class="cost">$5799.99</div>
          <div class="hours"><b>40 hours</b></div>
          <p class="card-text">This package allows us to take a deep dive into your project. We will set up meetings to get an understanding of your application idea and collaboratively design the app page by page!</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Software Blueprints<br /> 
              <small>Allow you to 'shop around' to different software companies.</small></li>
            <li class="list-group-item">Increased Design Efforts</li>
            <li class="list-group-item">Access to our network of software development teams</li>
          </ul>
        </div>
      </div>
       
    
    
      </div>
      <div class="row">
        <div class="col-4 "><div class="call"><a href="#contact" class="btn contactbutton btn-block btn-lg" role="button"  aria-disabled="true">Contact Us</a></div></div>
        <div class="col-4 "><div class="call"><a href="#contact" class="btn contactbutton btn-block btn-lg" role="button" aria-disabled="true">Contact Us</a></div></div>
        <div class="col-4 "><div class="call"><a href="#contact" class="btn contactbutton btn-block btn-lg" role="button" aria-disabled="true">Contact Us</a></div></div>
      </div>
    </div>
        <!-- <div class="card-deck">
            <div class="card  text-center" style="width: 10rem;">
               
                <div class="card-body">
                  <h5 class="card-title">Basic Package</h5>
                  <div class="cost">$1499.99</div>
                  <p class="card-text">This package is for the clients who may need help with a current software project or for the client who wants to see how we can get started on your software idea! </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> Feasability Research<br />
                    <small>Is your project possible?</small></li>
                  <li class="list-group-item">Software Consulting<br />-</li>
                  <li class="list-group-item">-</li>
                </ul>
                <div class="card-body">
                  <div class="call"><a href="#contact" class="btn contactbutton btn-block btn-lg" role="button" aria-disabled="true">Contact Us</a></div>
                </div>
              </div>
    
              <div class="card  text-center" style="width: 10rem;">
               
                <div class="card-body">
                  <h5 class="card-title">Premium Package</h5>
                  <div class="cost">$2999.99</div>
                  <p class="card-text">This package allows us to take a deep dive into your project. We will set up meetings to get an understanding of your application idea and collaboratively design the app page by page! </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> Software Blueprints<br /> 
                    <small>Allow you to 'shop around' to different software companies.</small>
    </li>
                  <li class="list-group-item"> Design of the Application<br />
                    <small>5 screens</small></li>
                  <li class="list-group-item">Software Documentation<br />
                    <small>Helps explain your idea from a software developer's point of view!</small>
                </li>
                </ul>
                <div class="card-body">
                    <div class="call"><a href="#contact" class="btn contactbutton btn-block btn-lg" role="button" aria-disabled="true">Contact Us</a></div>
                </div>
              </div>
    
              <div class="card  text-center" style="width: 20rem;">
              
                <div class="card-body">
                  <h5 class="card-title">Ultimate Package</h5>
                  <div class="cost">$5799.99</div>
                  <div class="hours"><b>40 hours</b></div>
                  <p class="card-text">This package allows us to take a deep dive into your project. We will set up meetings to get an understanding of your application idea and collaboratively design the app page by page!</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> Software Blueprints<br /> 
                    <small>Allow you to 'shop around' to different software companies.</small></li>
                  <li class="list-group-item">Increased Design Efforts</li>
                  <li class="list-group-item">Access to our network of software development teams</li>
                </ul>
                <div class="card-body">
                  <div class="call"><a href="#contact" class="btn contactbutton btn-block btn-lg" role="button" aria-disabled="true">Contact Us</a></div>
                </div>
              </div>
        
        
        
        
        
            </div> -->
    </div>
</div>

<div class="content xs">
  
  <div class="section">
             
          
    <ngb-carousel *ngIf="packages" data-interval="false" class="carousel">
        
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <h1>packages</h1>

              <div class="row">
                <div class="col-12 box">
                  <div class="card text-center" style="width: 100%;">
   
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-12 col-sm-5">
                        <div class="card-body">
                          <h5 class="card-title">Basic Package</h5>
                          <div class="cost">$1499.99</div>
                          <p class="card-text">This package is for the clients who may need help with a current software project or for the client who wants to see how we can get started on your software idea! </p>
                        </div>

                      </div>

                      <div class="col-12 col-sm-5">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"> Feasability Research<br />
                            <small>Is your project possible?</small></li>
                          <li class="list-group-item">Software Consulting<br />-</li>
                          <li class="list-group-item">-</li>
                        </ul>
                      </div>
                      <div class="col-sm-1"></div>

                    </div>
                   

                  
                  </div>
                </div>
              </div>
            
<div class="row">

<div class="col-12">
<div class="call"><a href="#contact" class="btn contactbutton btn-block btn-lg" role="button" aria-disabled="true">Contact Us</a></div>
</div>
</div>
                
              
  
              
             
              
             
          </div>
          <div class="carousel-caption">
           
           
           

          </div>
        </ng-template>
        
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <h1>packages</h1>

                <div class="row">
                  <div class="col-12 box">

                    <div class="card  text-center" style="width: 100%;">
  

                      <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-12 col-sm-5">
                          <div class="card-body">
                            <h5 class="card-title">Premium Package</h5>
                            <div class="cost">$2999.99</div>
                            <p class="card-text">This package allows us to take a deep dive into your project. We will set up meetings to get an understanding of your application idea and collaboratively design the app page by page! </p>
                          </div>

                        </div>

                        <div class="col-12 col-sm-5">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"> Software Blueprints<br /> 
                              <small>Allow you to 'shop around' to different software companies.</small>
              </li>
                            <li class="list-group-item"> Design of the Application<br />
                              <small>5 screens</small></li>
                            <li class="list-group-item">Software Documentation<br />
                              <small>Helps explain your idea from a software developer's point of view!</small>
                          </li>
                          </ul>
                          
                        </div>
                        <div class="col-sm-1"></div>
                      </div>

                    
                    
                      <div class="card-body">
                       
                      </div>
                    </div>
                  </div>
                 
                </div>
<div class="row">
<div class="col-12">
<div class="call"><a href="#contact" class="btn contactbutton btn-block btn-lg" role="button" aria-disabled="true">Contact Us</a></div>
</div>
</div>
              
             
            </div>
            <!-- <div class="carousel-caption">
              
            </div> -->
          </ng-template> 
       

           <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <h1>packages</h1>

                <div class="row">
                  <div class="col-12 box">
                    <div class="card  text-center" style="width: 100%; ">
                      
                      <div class="row">
                        <div class="col-12 col-sm-1"></div>
                         <div class="col-12 col-sm-5">
                          <div class="card-body">
                            <h5 class="card-title">Ultimate Package</h5>
                            <div class="cost">$5799.99</div>
                            <div class="hours"><b>40 hours</b></div>
                            <p class="card-text">This package allows us to take a deep dive into your project. We will set up meetings to get an understanding of your idea and collaboratively design the app page by page!</p>
                          </div>
                         </div>
                         <div class="col-12 col-sm-5">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"> Software Blueprints<br /> 
                              <small>Allow you to 'shop around' to different software companies.</small></li>
                            <li class="list-group-item">Increased Design Efforts</li>
                            <li class="list-group-item">Access to our network of software development teams</li>
                          </ul>
                        </div>
                        <div class="col-12 col-sm-1"></div>
                       </div>


                      
                
                    </div>
                  </div>


                

                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="call"><a href="#contact" class="btn contactbutton btn-block btn-lg" role="button" aria-disabled="true">Contact Us</a></div>
                  </div>
                </div>
               
             
            </div>
            <div class="carousel-caption">
              
            </div>
          </ng-template>

        
      </ngb-carousel>
      


</div>

</div>



   

         
