@import 'src/styles.scss';

.responsivecontainer{
    background-color: white;
   
   


    .fullmenu{
        background-color: white;
        position: fixed;
        z-index: 10000000000000000;
        text-align: center;
       
    
        @include xs{
            width: 100vw;
            height: 100vh;
            padding-top: 30%;
        }

      

        @include sm{
            width: 100vw;
            height: 100vh;
            padding-top: 100px;

            @media only screen and (orientation: landscape) {
                padding-top: 0px;
            }
        }
        @include lg{
            width: 100%;
            height: 100%;
            padding-top: 100px;
        }


        a{
            text-decoration: none;
            letter-spacing: 10px;
            color: black;
            cursor: pointer;
           
    
            @include xs{
                @include font-face("Roboto Slab", "serif", 400, 16px, 70px);
                width: 300px;
                height: 10%;
                border: 1px solid rgb(211, 211, 211);
                border-radius: 25px;
                padding: 15px 25px 15px 25px;
    
            }

            @include sm{
                @include font-face("Roboto Slab", "serif", 400, 16px, 70px);
                width: 300px;
                height: auto;
                border: 1px solid rgb(211, 211, 211);
                border-radius: 25px;
                padding: 15px 25px 15px 25px;
                margin: 0 auto;

                @media only screen and (orientation: landscape) {
                    padding: 10px 25px 10px 25px;
               }
    
            }

            // @include lg{
            //     @include font-face("Roboto Slab", "serif", 400, 16px, 70px);
            //     width: 300px;
            //     height: 10%;
            //     border: 1px solid rgb(211, 211, 211);
            //     border-radius: 25px;
            //     padding: 15px 25px 15px 25px;
    
            // }

            
            
            @include lg{
                @include font-face("Roboto Slab", "serif", 400, 50px, 100px);
                width: 300px;
                height: 50px;
                border: none;
                border-radius: none;
                padding: 0px;
            }
        }
    
        a:active, a:hover {
           
    
            @include xs{
                background-color: $primary;
                color: white;
                border: none;
               
            }
            @include lg{
                background-color: white;
                color: $primary;
                border: none;
               
            }
           
          }
    
    
        .close{
             cursor: pointer;
             background-image: url('src/images/body/close.png');
             width: 25px;
             height: 25px;
             margin-left: 0px;
             margin-top: 5px;
            
    
         }
    
      
    
       
    
    }

    
    
   .menut{
        //   width: 100%;
        height: auto;
         position: fixed;
         z-index: 1000000000000000;
         mix-blend-mode:  difference;
        
    
    
         @include xs{
            width: 100vw;
         }

      
         @include xl{
             width: 100vw;
           
         }
    
    
    
    
         .stuff{
           
            margin: 0 auto;
            margin-top: 10px;

            @include xs{
                width: 90vw;
                
             }

            @include md{
                width: 95vw;
             }

             @include lg{
                width: 95vw;
             }
             
           
            
        
         .logo{
               
            position: absolute;
            left: 0px;
            
                 background-image:  url('src/images/heropage/logoc.png');
                 background-repeat: no-repeat;
              
            @include xs{
             
                 
                width: 50px;
                height: 50px;
                margin: 5px auto;
                background-size: auto 50px;
            }
                                
            @include sm{
                                            
                 width: 70px;
                 height: 70px;
                 margin: 5px auto;
                background-size: auto 70px;
            }
                                    
                                 
                             
                        
             
             }
        
             .menu{
                 
               
                background-image:  url('src/images/heropage/ic_menu_24px.png');
                             background-repeat: no-repeat;
                             background-position: 0px 20px;
                            //  margin: 5px auto;
                             cursor: pointer;
                             width: 70px;
                             height: 70px;
                           
                          
                position: absolute;
                right: 0px;

    
                @include xs{
             
                 
                                                
                        width: 50px;
                        height: 50px;
                        margin-top: px;
                        background-size: 50px 20px;
                   
                           
                }
                                    
                @include sm{
                                                
                     width: 70px;
                     height: 70px;
                     margin-top: 5px;
                     background-size: 70px 30px;
                }
                                        
                                     
               

                

               
             }    
         }
     }
    
    .section{
       width: 100%;
       
       
        background-color: rgb(255, 255, 255);
      
        position: relative;


       
       

         @include xs{
             
        margin-top: 50px;
        margin-bottom: 50px;
         }

         @include sm{
             
            margin-top: 100px;
            margin-bottom: 100px;
             }
    

        
       
    
    
    
    }
    
    .about{
        background-color:transparent;
        // border: 1px solid rgb(223, 223, 223);
       
        @include xs{
             
            margin-top: 50px;
            margin-bottom: 50px;
             }
    
             @include sm{
                 
                margin-top: 100px;
                margin-bottom: 100px;
                 }


                 @include xl{
                 
                    margin-top: 200px;
                    margin-bottom: 100px;
                     }


        
        // }
    }
   

    #wireframes{
        @include xs{
            display: none;
        }
        @include xl{
            display: block;
        }

    }
    

    .wireframes{
        @include xs{
            display: none;
        }
        @include xl{
            display: inline;
        }
    }


.info{
   
   
   width: 80vw;
    background-color: white;
    color: black;
    margin: auto;

    @include xs{
        margin-top: 200px;
       
        
        height: 700px;
     }

     @include sm{
        margin-top: 100px;
        height: 100vh;
        
        min-height: auto;
     }

     @include lg{
        margin-top: 100px;
        height: 100vh;
        min-height: auto;
        max-height: 768px; 
           
     }
     
 
     @include xl{  
         height: auto;
         margin-bottom: 100px;
         
     }


     .map{
        width: 95%;
        height: 263px;
        background-color: black; 
        position: absolute;
        margin-bottom: 100px;
        
    }
    
}


   
    

}
