


<div class="responsivecontainer">

        <div *ngIf="!condition" class="fullmenu" wmAnimate="fadeInDown" speed="fast">
          


            <div class="container">
                <div class="row">
                    <div class="col-6">
                       
                    </div>
                    <div class="col-6">
                        <div class="close" (click) = "condition = !condition"></div>
                    </div>

                    <div class="col-12">
                        <a class="button" (click) = "condition = !condition" href="#about">about</a>
                    </div>

                    <div class="col-12 wireframes">
                        <a (click) = "condition = !condition" href="#wireframes">wireframes</a>
                    </div>

                    <div class="col-12">
                        <a (click) = "condition = !condition" href="#portfolio">portfolio</a>
                    </div>

                    <div class="col-12">
                        <a (click) = "condition = !condition" href="#testimonials">testimonials</a>
                    </div>

                    <div class="col-12">
                        <a (click) = "condition = !condition" href="#packages">packages</a>
                    </div>

                    <div class="col-12">
                        <a (click) = "condition = !condition"href="#contact">contact</a>
                    </div>




                </div>
                </div>

            </div>
             
               
        
   <div class="menut" *ngIf="!scrolling" wmAnimate="fadeIn" speed="fast">
        
              
        
        <div class="stuff" *ngIf="condition">

            <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-2 col-xl-1">
                    <div class="logo" wmAnimate="fadeIn" speed="fast"></div>
                </div>
                <div class="col col-lg-8 col-xl-10 "></div>
                <div class="col col-lg-2 col-xl-1 ">
                    <div class="menu" (click) = "condition = !condition"></div>
                </div>
               
               
                
            </div>
            </div>
            
            
           

         </div>
          
    
        
        </div>
         
        












    <div class="hero" id="hero"  wmAnimate="fadeInDown" speed="normal">
        <app-hero id="hero"></app-hero>
    </div> 

 
    <div class="about" wmAnimate="fadeIn" speed="normal" >
        <app-about id="about"></app-about>
    </div>   


    <div class="section"  wmAnimate="fadeIn" speed="normal"  >
        <app-wireframes id="wireframes"></app-wireframes>
    </div>  


    <!-- <div class="section" id="portfolio" wmAnimate="fadeIn" speed="normal" aos>
        <app-portfolio></app-portfolio>
    </div> -->

 
<div class="section" wmAnimate="fadeIn" speed="normal" >
        <app-test id="portfolio"></app-test>
    </div>   

 
     <div class="section"  wmAnimate="fadeIn" speed="normal" >
        <app-testimonials id="testimonials"></app-testimonials>
    </div> 

     <div class="section"  wmAnimate="fadeIn" speed="normal" >
        <app-packages id="packages"></app-packages>
    </div> 
     
     <div class="section"  wmAnimate="fadeIn" speed="normal" >
        <app-contact id="contact"></app-contact>
    </div> 
 
    <div class="info" id="info" wmAnimate="fadeIn" speed="normal" >
     

        <div class="row">
            <div class="col-xs-12 col-xl-1">

            </div>
            <div class="col-xs-12 col-xl-3">
                <h4>
                    <h3>caprock custom applications</h3>
                    <div class="phone"></div><p>(512) 842-7569</p>
                    <div class="email"></div> <p>info@caprockapps.com</p>
                    <div class="address"></div><p>5280 34th ST <br />
            Lubbock, TX 79407<br />
            Hours: Monday-Friday 8-5</p>
           
        
        
            </h4>
            </div>

            <div class="col-xs-12 col-xl-7">
                <div class="map"><app-maps></app-maps></div>
            </div>
            <div class="col-xs-12 col-xl-1">
                
            </div>
        </div>
        
           
        
    </div>


   


   
    
    
    
</div>