@import 'src/styles.scss';
.content{
    @include xs{
       
    }

    @include sm{
        
    }

    @include md{
       
       
    }


    @include lg{
       padding-top: 0px;
    }
    

    @include xl{
        padding-top: 100px;
     }
}


.section{
 
    position: relative;
    width: 100%;
    background-color:  rgb(255, 255, 255);
    color:#353535;


    @include xs{
        
        height: 700px;  
     }

    @include sm{
        height: 100vh;  
        min-height: auto;
        max-height: 576px;
    }

    @include md{
        min-height: 25vh;
        max-height: 50vh;

        @media only screen and (orientation: landscape) {
            min-height: 25vh;
            max-height: 100vh;
       }
       
    }


    @include lg{
        min-height: 768px;
        max-height: 768px;
    }

    .carousel{
        width: 90vw;
        margin: 0 auto;
        @include xs{
            height: 100vh;
            min-height: 668px;
        }

        @include sm{
            min-height: auto;
            max-height: 576px;
        }

        @include md{
            min-height: 25vh;
           max-height: 50vh;
    
           @media only screen and (orientation: landscape) {
            min-height: 25vh;
            max-height: 100vh;
           }
           
        }

        @include lg{
            min-height: 768px;
            max-height: 768px;
        }
    }


    h1{

        text-align: center;
        width: 100%;
        position: absolute;
        font-size: 6vw;
        letter-spacing: 2vw;
        height: 100px;
    }

    h2{
        text-align: center;

        @include xs{
            font-size: 6vw;
        }

        @include sm{
            font-size: 3.5vw;
        }
    }

    .main{

        width: 100%;

        @include xs{
            height: auto;
            margin: 80px auto;
            min-height: 668px;
        }

        @include md{
            height: 576px;
            min-height: auto;
            max-height: 576px;
            margin: 10% auto;
        }

        

        @include lg{
            min-height: auto;
            height: 576px; 
            max-height: 768px;
            margin: 15% auto;
        }

        @include xl{
            margin: 10% auto;
        }


        .wireframes{
        
            width: 100%;
            position: relative;
            z-index: -1;
            

            @include sm{
                margin-top: -5%;
            }

            @include md{
                margin-top: 0%;
            }

            @include lg{
                margin-top: 10%;
            }

            @include xl{
                margin-top: 0%;
            }

            .nfsbdiv{
                position: relative;
               
               

                .device1{
                   
                    position: relative;
                    z-index: 1;
                    background-image:url('src/images/portfolio/nfsbdetail.png');
                    background-repeat: no-repeat;

                    @include xs{
                     
                        background-size: auto 45vh;
                        width: 25.5vh;
                        height: 45vh;
                        max-height: 45vh;
                        margin: auto;
                        
                    }

                    @include sm{
                        background-size: 20vw auto;
                        width: 20vw;
                        height: 35.5vw;
                        max-height: 35.5vw;
                        margin: 0 auto;
                    }
                }

                .device2 {
                    position: relative;
                    z-index: 1;
                    background-image:url('src/images/portfolio/nfsbonboarding.png');
                    background-repeat: no-repeat;

                    @include sm{
                        display: none;
                    }

                    @include lg{
                        display: block;
                        margin-top: 70px;
                        width: 16vw;
                        height: 29vw;
                        background-size: 17vw auto;
                        margin-left: 0px;
                    }
                }
            }

            .llanodiv{

                .device1{
                    position: relative;
                    z-index: 1;
                    background-image:url('src/images/portfolio/llanodesktop.png');
                    background-repeat: no-repeat;

                    @include xs{
                        width: 43vh;
                        height: 45vh;
                        background-size: auto 35vh;
                        margin: 0px auto;
                        max-height: 45vh;
                        background-position: 0px 50px;
                    }

                    @include sm{
                        width: 25vw;
                        height: 35vw;
                        background-size: 25vw auto;
                        min-height: 30vw;
                        margin-left: 0px;
                        background-position: 0px 50px;
                    }

                    @include md{
                        width: 32vw;
                        height: 32vw;
                        background-size: 32vw auto;
                        min-height: 30vw;
                        margin-left: 0px;
                        background-position: 0px 20px;
                    }
                }

                .device2 {
                    position: relative;
                    z-index: 1;
                    background-image:url('src/images/portfolio/llanoipad.png');
                    background-repeat: no-repeat;

                    @include xs{
                        display: none;
                    }

                    @include lg{
                        margin-top: 190px;
                        width: 19vw;
                        height: 16vw;
                        background-size: 19vw auto;
                        margin-left: 0px;
                        display: block;
                    }
                }
            }

            .farmingdiv{

                .device1{
                    position: relative;
                    z-index: 1;
                    background-image:url('src/images/portfolio/map.png');
                    background-repeat: no-repeat;

                    @include xs{
                        width: 25vh;
                        height: 45vh;
                        background-size: auto 45vh;
                        margin: 0 auto;
                        max-height: 45vh;
                        
                    }

                    @include sm{
                        width: 20vw;
                        height: 35vw;
                        background-size: 20vw auto;
                       
                        max-height: 35vw;
                        margin: 0 auto;
                    }
                }

                .device2 {
                    position: relative;
                    z-index: 1;
                    background-image:url('src/images/portfolio/farms.png');
                    background-repeat: no-repeat;

                    @include xs{
                        display: none;
                    }

                    @include lg{
                        margin-top: 70px;
                        width: 16vw;
                        height: 29vw;
                        background-size: 16vw auto;
                        display: block;
                    }
                }
            }
        }

        .options{

            text-align: center;
         

            @include xs{
                width: 100%;
                margin-top: -5%;
            }

            @include sm{
                width: 100%;
                margin-top: -5%;
            }

            @include lg{
                width: 100%;
                margin-top: -2%;
            }

            @include xl{
                width: 100%;
                margin-top: 0;
            }

            button{
                background-color: white;
                border: 1px solid rgb(128, 128, 128);
                border-radius: 50px;
                @include fadeIn();

                @include xs{
                    width: 100px;
                    height: auto;
                    font-size: 10px;
                    margin: 2px;
                }

                @include lg{
                    width: 120px;
                    height: auto;
                    font-size: 16px;
                    margin: 5px;
                }
            }

            button:hover{
                border: none;
                background-color: #FF8000;
                color: white;
                @include fadeIn();
            }

        }

        .text{

            z-index: 100000;
           

            @include xs{
               
                position: relative;
                background-color: white;
                color: black;
                font-size: 3vw;
                margin: 2% auto;
                width: 90%;
                line-height: 3.5vw;
                border-radius: 20px;
                height: auto;
                border: 1px solid #e4e4e4;
                padding: 20px;
            }

            @include sm{
                
                position: relative;
                background-color: white;
                color: black;
                font-size: 1.5vw;
                margin: 2% auto;
                width: 100%;
                line-height: 2vw;
                border-radius: 20px;
                height: auto;
                border: 1px solid #e4e4e4;
                padding: 20px;
            }

            @include lg{
                width: 90%;
            }
            
        }
    }
}



