


<div class="content">

  <div class="section">

    <h1>our work</h1>
    
    <!--start of carousel-->
    <ngb-carousel *ngIf="works" data-interval="false" class="carousel">
      
        <!-- not for sale, but -->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="main">          
              <div class="row">
                
                <!-- empty column -->
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
  
                <!--phone column-->
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 col-xl-4">
                  <div class="wireframes">
                    <div class="nfsbdiv" >  
                      <div class="row">
                        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                        
                        <div class="col-sm-6 col-md-6 col-lg-5 col-xl-5">
                          <div class="device1" ></div>
                        </div>
  
                        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                          <div class="device2"></div>
                        </div>
                       
                        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                      </div>
                    </div>
                  </div>
                </div>
              
                <!--text column-->
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6 col-xl-6">
                  <div class="row">
                    <div class="col-12">
                      <h2>Not For Sale But...</h2>
                    </div>
                    
                    <div class="col-12">
                      <div class="options optionsweb">
                        <button (click)="details('about')" [@lastClicked]="about ? 'clicked' : 'notClicked'">ABOUT</button> 
                        <button (click)="details('problem')" [@lastClicked]="problem ? 'clicked' : 'notClicked'">PROBLEM</button> 
                        <button (click)="details('solution')" [@lastClicked]="solution ? 'clicked' : 'notClicked'"> SOLUTION</button>
                      </div>  
                    </div>
  
                    <div class="col-12">
                      <div class="abouttext text" *ngIf="about" wmAnimate="fadeIn" speed="normal">
                        {{nfsb.about}}
                      </div>
  
                      <div class="problemtext text" (click)="hide()"  *ngIf="problem"  [@lastText]="problem ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal"> 
                        {{nfsb.problem}}
                      </div>
  
                      <div class="solutiontext text" (click)="hide()"   *ngIf="solution" [@lastText]="solution ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                        {{nfsb.solution}}
                      </div>
                    </div>
                  </div>
                </div>
  
                <!--empty column-->
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
              
              </div>
            </div> 
          </div>
        </ng-template>
  
        <!-- llano waste -->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="main">
              <div class="row">
                <!--empty column-->
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
  
                <!--phone column-->
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 col-xl-4">
                  <div class="wireframes">
                    <div class="llanodiv" >  
                      <div class="row">
  
                        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12"></div>
                        
                        <div class="col-xs-12 col-md-5 col-lg-5 col-xl-5">
                          <div class="device1" ></div>
                        </div>
                        
                        <div class="col-xs-12 col-md-6 col-lg-7 col-xl-7">
                          <div class="device2"></div>
                        </div>
                        
                        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12"></div>
                      
                      </div>
                    </div>
                  </div>
                </div>
  
                <!--text column-->
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6 col-xl-6">
                  <div class="row">
  
                    <div class="col-12">
                      <h2>Llano Waste</h2>
                    </div>
  
                    <div class="col-12">
                      <div class="options optionsweb">
                        <button (click)="details('about')" [@lastClicked]="about ? 'clicked' : 'notClicked'">ABOUT</button> 
                        <button (click)="details('problem')" [@lastClicked]="problem ? 'clicked' : 'notClicked'">PROBLEM</button> 
                        <button (click)="details('solution')" [@lastClicked]="solution ? 'clicked' : 'notClicked'"> SOLUTION</button>
                      </div> 
                    </div>
  
                    <div class="col-12">
                      <div class="abouttext text" *ngIf="about" wmAnimate="fadeIn" speed="normal" >
                        {{llano.about}}
                      </div>
    
                      <div class="problemtext text" (click)="hide()"  *ngIf="problem"  [@lastText]="problem ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                        {{llano.problem}}
                      </div>
              
                      <div class="solutiontext text" (click)="hide()"  *ngIf="solution" [@lastText]="solution ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                        {{llano.solution}}
                      </div>
                    </div>
  
                  </div>
                </div>
  
                <!--empty column-->
                <div class=" col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
              </div>
            </div>  
          </div>
        </ng-template>
  
        <!-- farming app -->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="main">
              <div class="row">
                <!--empty column-->
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
  
                <!--phone column-->
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 col-xl-4">
                  <div class="wireframes">
                    <div class="farmingdiv">  
                      <div class="row">
  
                        <div class="col-xs-12 col-sm-1 col-md-2 col-lg-1 col-xl-1"></div>
                        
                        <div class="col-xs-12 col-sm-10 col-md-3 col-lg-5 col-xl-5">
                          <div class="device1" ></div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                          <div class="device2"></div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-1 col-md-2 col-lg-1 col-xl-1"></div>
                      
                      </div>
                    </div>
                  </div>
                </div>
  
                <!--text column-->
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6 col-xl-6">
                  <div class="row">
  
                    <div class="col-12">
                      <h2>Farming App</h2>
                    </div>
  
                    <div class="col-12">
                      <div class="options optionsweb">
                        <button (click)="details('about')" [@lastClicked]="about ? 'clicked' : 'notClicked'">ABOUT</button> 
                        <button (click)="details('problem')" [@lastClicked]="problem ? 'clicked' : 'notClicked'">PROBLEM</button> 
                        <button (click)="details('solution')" [@lastClicked]="solution ? 'clicked' : 'notClicked'"> SOLUTION</button>
                      </div>  
                    </div>
  
                    <div class="col-12">
                      <div class="abouttext text" *ngIf="about" wmAnimate="fadeIn" speed="normal">
                        {{farming.about}}
                      </div>
  
                      <div class="problemtext text"  (click)="hide()"  *ngIf="problem"  [@lastText]="problem ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">                   
                        {{farming.problem}}
                      </div>
              
                      <div class="solutiontext text" (click)="hide()"   *ngIf="solution" [@lastText]="solution ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                        {{farming.solution}}
                      </div>
                    </div>
  
                  </div>
                </div>
  
                <!--empty column-->
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
  
              </div>
            </div>  
          </div>
        </ng-template>
  
    </ngb-carousel>
  </div>

</div>
