

<div class="content">
  <div class="section">

    <h1>testimonials</h1>
    
     <ngb-carousel *ngIf="testimonials" data-interval="false" class="carousel">
        
         <ng-template ngbSlide>
           <div class="picsum-img-wrapper">
             
             <div class="main">
 
               
              
                 <div class="row">
                   <div class="col-xs-12 col-sm-1 col-md-1 col-lg-0 col-xl-1"></div>
                   <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                     <div class="photo amy"></div>
                   </div>
                   <div class="col-xs-12 col-sm-7 col-md-7  col-lg-8 col-xl-7">
                     <div class="text">"{{first.review}}"</div>
                   </div>
                   <div class="col-xs-12 col-sm-1 col-md-1 col-lg-0 col-xl-1"></div>
                   </div>
             
             </div>
               
               
              
               
              
           </div>
           <div class="carousel-caption">
            
             <h3>{{first.name}}</h3>
             <p>{{first.company}}</p>
 
           </div>
         </ng-template>
         
         <ng-template ngbSlide>
             <div class="picsum-img-wrapper">
               <div class="main">
                 
                 
                 <div class="row">
                   <div class="col-sm-1 col-md-1 col-lg-0 col-xl-1"></div>
                   <div class="col-xs-2 col-sm-3 col-md-3  col-lg-3 col-xl-3">
                     <div class="photo two"></div>
                   </div>
                   <div class="col-xs-5 col-sm-7 col-md-7  col-lg-8 col-xl-7">
                     <div class="text">"{{second.review}}"</div>
                   </div>
                   <div class="col-sm-1 col-md-1 col-lg-0 col-xl-1"></div>
                   </div>
               
               
               
               </div>
             </div>
             <div class="carousel-caption">
               <h3>{{second.name}}</h3>
               <p>{{second.company}}</p>
             </div>
           </ng-template>
 
           <ng-template ngbSlide>
             <div class="picsum-img-wrapper">
               <div class="main">
                 
                 <div class="row">
                   <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                   <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                     <div class="photo three"></div>
                   </div>
                   <div class="col-xs-5 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                     <div class="text">"{{third.review}}"</div>
                   </div>
                   <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                   </div>
               
               
               </div>
             </div>
             <div class="carousel-caption">
               <h3>{{third.name}}</h3>
               <p>{{third.company}}</p>
             </div>
           </ng-template>
 
       </ngb-carousel>
       
 
 </div>
 
</div>