@import 'src/styles.scss'; 
.content{
    @include xs{
       
    }

    @include sm{
        
    }

    @include md{
       
       
    }


    @include lg{
       padding-top: 0px;
    }
    

    @include xl{
        padding-top: 100px;
     }
}

.section{
    width: 100%;
    background-color:  #FF8000;
    color: white;


    @include xs{
        height: 700px;
        
     }
 
     @include sm{
         height: 100vh;
         min-height: auto;
         max-height: 576px;
        
     }

    @include md{
        min-height: 25vh;
        max-height: 50vh;

        @media only screen and (orientation: landscape) {
            min-height: 25vh;
            max-height: 100vh;
        }
       
    }


    @include lg{
        min-height: 768px;
        max-height: 768px;
    }

    .carousel{
        width: 90vw;
        margin: 0 auto;
       
        @include xs{
            height: 700px;
           
            
        }

        @include sm{
            height: 100vh;
            min-height: auto;
            max-height: 576px;
        }

        @include md{
            min-height: 25vh;
           max-height: 50vh;
    
           @media only screen and (orientation: landscape) {
            min-height: 25vh;
            max-height: 100vh;
           }
           
        }

        @include lg{
            min-height: 768px;
            max-height: 768px;
        }
    }

    h1{

        text-align: center;
        width: 100%;
        position: absolute;
        font-size: 6vw;
        letter-spacing: 2vw;
        height: 100px;
    }



    .main{
    
        
     @include xs{
           
            height: auto;
            margin: 100px auto;
            min-height: 550px;
            max-height: 550px;
        }

        @include sm{
            height: auto;
            margin: 100px auto;
            min-height: 30vw;
            max-height: 30vw;
        }

        @include md{
            height: auto;
            max-height: 576px;
            margin: 100px auto;
            padding: 30px 0px 30px 0px;

            @media only screen and (orientation: landscape) {
                height: 60vh;
                padding: 0px 0px 0px 0px;
            }
        }

        

        @include lg{
            height: 576px; 
            max-height: 768px;
            margin: 100px auto;
        }

        @include xl{
            margin: 100px auto;
        }

        // width: 100%;
        // margin-top: 0vh;
       
        // background-color: transparent;


        // @include xs{
        //     height: 100vh;
   
        //  }
         
     
        //  @include lg{  
        //     height: 100vh;
        //     max-height: 768px;

        //  }

        //  @include xl{  
        //     height: 668px;
        //     margin-top: 10vh;
        //  }


        .amy{
            background-image: url('src/images/testimonials/amy.png');
        }

        .two{
            background-image: url('src/images/testimonials/derrek.png');
        }
        
        .three{
            background-image: url('src/images/testimonials/tia.png');
        }


         .photo{
        
            
            position: relative;
            justify-content: center;
            border-radius: 50%;
           
            @include xs{
                width: 70vw;
                height: 70vw;
                background-size: 70vw auto;
                
                margin: auto;
                
                // font-size: 1.2rem;
                // line-height: 36px;
             
            }

            @include sm{
                    width: 30vw;
                    height: 30vw;
                    background-size: 30vw auto;
                    margin: auto;
                    max-width: 400px;
                    max-height: 400px;
                    // font-size: 1.2rem;
                    // line-height: 36px;
                 
          
                
             }

           
             @include lg{
               margin: 50% auto;
             
      
            
         }
            
         
            
        
             @include xl{  
                margin: 20% auto;
                width: 20vw;
                height: 20vw;
                background-size: 20vw auto;
            
                    
                    // font-size: 1.2rem;
                    // line-height: 36px;
             
               

             }
        }
        

        .text{   
            justify-content: center;
            font-style: italic;
            position: relative;
          
            display:  block;
          
            color: rgb(255, 255, 255);

            height: auto;
            padding: 20px;


            @include xs{
              
                font-size: 4vw;
                margin: auto;
                margin-top: 25px;
                width: 90%;
                line-height: 4.5vw;
            }

            @include sm{
              
                font-size: 2vw;
                margin: 5% auto;
                margin-left: 45px;
                
                width: 90%;
                line-height: 2.5vw;
                height: 23vw;
               
               
            }

            @include md{
              
                font-size: 2vw;
                margin: 10% auto;
                margin-left: 45px;
                width: 90%;
                line-height: 2.5vw;
                height: 23vw;

                @media only screen and (orientation: landscape) {
                    margin: 0% auto;
                    margin-left: 45px;
                    
                }
               
               
            }

            @include lg{
              
                font-size: 2vw;
                margin: 25% auto;
                margin-left: 60px;
                width: 80%;
                line-height: 2.5vw;
                height: 23vw;

               
               
               
            }

            @include xl{
              
                font-size: 1.5vw;
                margin: 18% auto;
                width: 100%;
                height: 20vw;

               
               
               
            }


            // @include md{
               
            //     font-size: 1.5vw;
            //     margin: auto;
            //     // width: 100%;
            //     line-height: 2vw;
            //     height: auto;
              
               
            // }

            // @include lg{
            //     width: 90%;
            // }
                 
            // @include xs{
            //     font-size: 1rem;
            //     line-height: 24px;
            //     margin-top: -25%;
            //     padding-left: 30px;
            //     padding-right: 30px;
            // }

            // @include sm{
            //     font-size: 0.8rem;
            //     line-height: 24px;
            //     margin-top: 30%;
            //     padding-left: 30px;
            //     padding-right: 0px;
            // }

            // @include md{
            //     font-size: 1.2rem;
            //     line-height: 24px;
            //     margin-top: -10%;
            //     padding-left: 10%;
            //     padding-right: 10%;
            // }

            // @include lg{
            //     font-size: 1.2rem;
            //     line-height: 24px;
            //     margin-top: 35%;
            //     padding-left: 10%;
            //     padding-right: 15%;
            // }

         
            // @include xl{   
            //     font-size: 1.5vw;
            //     line-height: 36px;
            //     margin-top: 13vh;
            //     padding-left: 0%;
            //     padding-right: 0%;
            // } 
        }
    }

    // .carousel{
    //     @include xs{
    //         height: 100vh;  
    //         max-height: 100vh;  
    //      }
         
     
    //      @include lg{  
    //         height: 100vh;
    //         max-height: 768px;
    //      }

    //      @include xl{  
    //         height: 768px;
    //         max-height: 768px;
            
    //      }
    // }

    // @include xs{
    //     height: 100vh;
    //     max-height: 100vh;
    //  }
     
 
    //  @include lg{  
    //     height: 100vh;
    //     max-height: 768px;
    //  }

    //  @include xl{  
    //     height: 768px;
    //     max-height: 768px;
        
    //  }

    
        // h1{
            
        //     text-align: center;
        //     width: 100%;
       
        //     position: absolute;
        //     color: #ffffff;

        //     @include xs{
        //         font-size: 25px;
        //         letter-spacing: 5px;
        //         margin-top: 0px;
                 
        //     }
            
        //     @include xl{  
        //         font-size: 120px;
        //         letter-spacing: 35px;
        //         margin-top: 35px;
               
        //     }
        // }
    }


  