@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400&display=swap');

$dark: #0D0D0D;
$accent: #fff;
$primary: #FF8000;
$secondary: #591902;

$containerbackground: #c6538c;
$maincontainerbackground: #FFF;

// Small tablets and large smartphones (landscape view)
$screen-xs-min: 375px;


$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin fadeIn(){
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

@mixin fontcolor($color){
    color: $color;
}



@mixin textposition($top, $left){
    position: absolute;
    margin-top: $top;
    margin-left: $left;
    z-index: 100;
}


@mixin font-face($font-name, $alt-font, $font-weight, $font-size, $line-height){
    font-family: $font-name, $alt-font;
    font-weight: $font-weight; 
    font-size: $font-size;
    line-height: $line-height;
}

// Small devices
@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
 }

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 

body{
    background-color:white;     
    :focus{
        outline: none;
    }      
}



ngb-carousel {
    width: inherit;
    height: inherit;
}


.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
    position: absolute;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
}


.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}



.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    border: 1px solid white;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.5;
    
}

.carousel-control-next :active,
.carousel-control-prev :active {
    opacity: 1;
}

.carousel-indicators li {
    display: none; 
}






h1{
    @include font-face("Roboto Slab", "serif", 300, 120px, 100px);
}

h2{
    @include font-face("Roboto Slab", "serif", 100, 50px, 60px);
    
}

h3{
    @include font-face("Roboto Slab", "serif", 400, 30px, 30px);
}

h4{
    @include font-face("Roboto Slab", "serif", 400, 20px, 30px);
}

body{
    @include font-face("Roboto", "serif", 400, 20px, 30px);   
 
}

