@import 'src/styles.scss';




.teampictures{

    @include xs{
        margin-top: 30%;
    }

    @include sm{
        margin-top: 0%;
    }

    @include lg{
        margin-top: 0%;
    }


    

    @include xl{
        margin-top: 0px;
        margin-left: 50px;
    }
   
}

.nat{
    background-image:url('src/images/about/nat-min.png');
    

    @include xs{
        border: 1px solid white;
        width: 20%;
        height: 350px;
        background-size: auto 350px;
        background-position: -30px 0px;
    }


    
    @include lg{
        border: 5px solid white;
        width: 20vw;
        height: 40vw;
        background-position: -50px 0px;   
        background-size: 24vw auto;
    }
}



.ethan{

    background-image:url('src/images/about/ethan-min.png');
    
    
    @include xs{
        border: 1px solid white;
        width: 20%;
        height: 350px;
        background-size: auto 350px;
        background-position: -30px 0px;
    }

    @include lg{
        border: 5px solid white;
        width: 20vw;
        height: 40vw;
        background-position: -50px 0px;   
        background-size: 24vw auto;
    }
}

.riley{

    background-image:url('src/images/about/riley-min.png');
   
    
    @include xs{
        border: 1px solid white;
        width: 20%;
        height: 350px;
        background-size: auto 350px;
        background-position: -30px 0px;
    }

    @include lg{
        border: 5px solid white;
        width: 20vw;
        height: 40vw;
        background-position: -50px 0px;   
        background-size: 24vw auto;
    }
}

.kat{

    background-image:url('src/images/about/kat-min.png');
    
    
    @include xs{
        border: 1px solid white;
        width: 20%;
        height: 350px;
        background-size: auto 350px;
        background-position: -30px 0px;
    }

    @include lg{
        border: 5px solid white;
        width: 20vw;
        height: 40vw;
        background-position: -50px 0px;   
        background-size: 24vw auto;
    }
}

.alex{

    background-image:url('src/images/about/alex-min.png');
    
   
    
    @include xs{
        border: 1px solid white;
        width: 20%;
        height: 350px;
        background-size: auto 350px;
        background-position: -30px 0px;
    }

    @include lg{
        border: 5px solid white;
        width: 20vw;
        height: 40vw;
        background-position: -50px 0px;   
        background-size: 24vw auto;
    }
}




    

    


.details{

    width: 100%;
  
  
    position: relative;
   
    @include xs{
        height: 100vh;
        font-size: 12px;
        line-height: 18px;
    }

    @include sm{
    
        min-height: auto;
        max-height: 576px;
        margin-top: 10px;
    }

    @include md{
        
        min-height: 25vh;
        max-height: 50vh;
       
        @media only screen and (orientation: landscape) {
            min-height: 25vh;
            max-height: 100vh;
       }
       
    }


    @include lg{
        min-height: 768px;
        max-height: 768px;
        font-size: 20px;
        line-height: 26px;
        padding-top: 0px;
    }
   

   

   .natdet{
      
       
    background-image:url('src/images/about/nat-min.png');
    margin: 0 auto;


    @include xs{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-size: 250px;
        background-position: -25px -40px;
       
    }

    // @include md{
    //     border-radius: 50%;
    //     width: 300px;
    //     height: 300px;
    //     background-size: 300px;
    //     background-position: 0px -40px;
      
    // }

    @include lg{
        border-radius: 0%;
        width: 24vw;
        height: 40vw;
        background-size: 24vw auto;
        background-position: 0px 0px;
        margin-left: 0px;
    }

    @include xl{
        border-radius: 0%;
        width: 24vw;
        height: 40vw;
        background-size: 24vw auto;
        background-position: 0px 0px;
        
        
    }

    


   }

   .ethandet{
        background-image:url('src/images/about/ethan-min.png');
        margin: 0 auto;

        @include xs{
            border-radius: 50%;
            width: 200px;
            height: 200px;
            background-size: 250px;
            background-position: -25px -10px;
           
        }

        // @include md{
        //     border-radius: 50%;
        //     width: 300px;
        //     height: 300px;
        //     background-size: 300px;
        //     background-position: 0px 0px;
          
        // }
    
        @include lg{
            border-radius: 0%;
            width: 24vw;
            height: 40vw;
            background-size: 24vw auto;
            background-position: 0px 0px;
            margin-left: 0px;
        }
 
    }

    .rileydet{
        background-image:url('src/images/about/riley-min.png');
        margin: 0 auto;


        @include xs{
            border-radius: 50%;
            width: 200px;
            height: 200px;
            background-size: 250px;
            background-position: -25px -30px;
           
        }

    // @include md{
    //     border-radius: 50%;
    //     width: 300px;
    //     height: 300px;
    //     background-size: 300px;
    //     background-position: 0px 0px;
      
    // }
    @include lg{
        border-radius: 0%;
        width: 24vw;
        height: 40vw;
        background-size: 24vw auto;
        background-position: 0px 0px;
        margin-left: 0px;
    }

        
   
    }

    .katdet{

        background-image:url('src/images/about/kat-min.png');
        margin: 0 auto;


        @include xs{
            border-radius: 50%;
            width: 200px;
            height: 200px;
            background-size: 200px;
            background-position: -5px -50px;
           
        }

    // @include md{
    //     border-radius: 50%;
    //     width: 300px;
    //     height: 300px;
    //     background-size: 250px;
    //     background-position: 20px -20px;
      
    // }
    
    @include lg{
        border-radius: 0%;
        width: 24vw;
        height: 40vw;
        background-size: 24vw auto;
        background-position: 0px 0px;
        margin-left: 0px;
    }

    }

    .alexdet{

        background-image:url('src/images/about/alex-min.png');
        margin: 0 auto;


        @include xs{
            border-radius: 50%;
            width: 200px;
            height: 200px;
            background-size: 250px;
            background-position: -25px -40px;
           
        }

    // @include md{
    //     border-radius: 50%;
    //     width: 300px;
    //     height: 300px;
    //     background-size: 300px;
    //     background-position: 0px 0px;
      
    // }
    
    @include lg{
        border-radius: 0%;
        width: 24vw;
        height: 40vw;
        background-size: 24vw auto;
        background-position: 0px 0px;
        margin-left: 0px;
    }

    }

    .teambutton{
        position: relative;
        
        z-index: 1000000;
        button{
            background-color: white;
            border: 1px solid gray;
            width: 100%;
            height: 30px;
            border-radius: 50px;
            cursor: pointer;
            font-size: 16px;
            text-transform: uppercase;
            font-family: "Roboto Slab";
           
            @include fadeIn();
        }
                    
        button:hover{
            background-color: #FF8000;
            color: white;
            border: none;
            font-size: 15px;
            opacity: 1;
            @include fadeIn();
        }            
    }
}