

    <div class="container" *ngIf="!details" wmAnimate="fadeInUp" speed="normal">
        <div class="row teampictures">
            <div class="col-sm-0 col-md-12 col-lg-0 col-xl-0">
            
            </div> 

           
             <div class="col-sm-0 col-md-0 col-lg-0 col-xl-0">
                
            </div> 
            
            <div class="col-sm-2 col-md-2 nat" (click) = "goDetails('nat')">
                
                <!-- <div class="nat" (click) = "goDetails('nat')"></div> -->
            </div>
            <div class="col-sm-2 col-md-2 ethan" (click) = "goDetails('ethan')">
               
                <!-- <div class="ethan" (click) = "goDetails('ethan')"></div> -->
            </div>
            <div class="col-sm-2 col-md-2 riley" (click) = "goDetails('riley')">
                <!-- <div class="persondiv" (click) = "goDetails('riley')"></div> -->
            </div>
            <div class="col-sm-2 col-md-2 kat" (click) = "goDetails('kat')">
                <!-- <div class="persondiv" (click) = "goDetails('kat')"></div> -->
            </div>
            <div class="col-sm-2 col-md-2 alex" (click) = "goDetails('alex')">
                <!-- <div class="persondiv" (click) = "goDetails('alex')"></div> -->
            </div>
           
            <div class="col-sm-0 col-md-0 col-lg-2 col-xl-0">
                
                </div>
           
        </div>
    </div>




<div class="details" *ngIf="details" wmAnimate="fadeIn" speed="normal">
   

    <div class="container">
        <div class="row">
            <!-- <div class="col-sm-1"></div>  -->
            <div class="col-sm-5 col-md-5 col-lg-5 col-xl-6">
                <div [ngClass]="myClass" ></div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-sm">
                       <h3> {{abouttext.first}} 
                        {{abouttext.last}}
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        {{abouttext.about}} <p><p>
                        {{abouttext.school}}<p>
                        {{abouttext.hobbies}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="teambutton"><button (click) = "goTeam()">GO BACK</button></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-1 col-md-1 col-lg-0"></div> 
        </div>
    </div>
</div>

