@import 'src/styles.scss';

.text1{
   
    
    
    @include xs{
        @include font-face("Roboto", "sans-serif", 300, 9vw, 11vw); 
    
    }
    
    @include sm{
        @include font-face("Roboto", "sans-serif", 300, 4vw, 5vw); 
    }
    
    @include lg{
        @include font-face("Roboto", "sans-serif", 300, 2vw, 3vw); 
    }
    // @include md{
        
    
    //     @media only screen and (orientation: landscape) {
            
    //    }
       
    // }
    
    
    // @include lg{
       
    // }
    
}

.text2{
    @include xs{
        @include font-face("Roboto", "sans-serif", 300, 9vw, 11vw); 
    
    }
    
    @include sm{
        @include font-face("Roboto", "sans-serif", 300, 4vw, 5vw); 
    }
    
    @include lg{
        @include font-face("Roboto", "sans-serif", 300, 2vw, 3vw); 
    }
}
  

span{
    
    @include xs{
        font-family: 'Roboto Slab', serif;
        font-size: 11vw;
        line-height: 12vw;
        letter-spacing: 3px;
    
    }
    
    @include sm{
        font-family: 'Roboto Slab', serif;
    font-size: 5vw;
    line-height: 6vw;
    letter-spacing: 3px;
    }

    @include lg{
        font-family: 'Roboto Slab', serif;
    font-size: 3vw;
    line-height: 4vw;
    letter-spacing: 3px;
    }
}


.line{
   


    @include xs{
        width: 65vw;
        height: 2px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        margin-top: 23vw;
    
    }
    
    @include sm{
    width: 30vw;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 11vw;
    }

    @include lg{
        width: 20vw;
        height: 2px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        margin-top: 7vw;
        }
}
 

